.statuscard {
  background-color: #DEF1FF;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #4285F4;
  min-height: 30px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.statuscard:hover{
  background-color:#4285F4;
  color:white
}
#mainContainer{
  height: 100vh;
  background-color: #F5F9FF;
  padding: 10px;
}
.detailsbtn{
  color: #20B288;
}
@media (max-width: 700px) {
  #mainContainer {
    width: 95%;
    margin: auto;
  }
  .statuscard{
    font-size: 12px;
  }
}
.ordercard {
  width: 100%;
  min-height: 90px;
  margin: auto;
  border: 1px solid #4285F4;
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ordercard:hover{
  
  border:1.5px solid #1c4a92;
}
.ordercardsection {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
