.container {
    height: auto;
    width: 100%;
    border: 1px solid #F5F9FF;
    margin: auto;
    background-color: #F5F9FF;
}

.upperimgdiv {
    margin-top: 30px;
    height: auto;
    width: 100%;
    border: 1px solid #F5F9FF;

}

.upperimgdiv:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
}

.boldertext {
    width: 90%;
    height: auto;
    border: 1px solid #F5F9FF;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.bannerdiv {
    height: auto;
    width: 100%;
    border: 1px solid #F5F9FF;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
}

.imgconteiner {
    height: auto;
    width: 80%;
    border: 1px solid #F5F9FF;
    margin: auto;
    margin-top: 30px;
}

.imgconteiner {
    display: flex;

    justify-content: space-between;
    align-items: center;

}

.imgdiv {
    height: 100%;
    width: 100px;
    border: 1px solid #F5F9FF;
    border-radius: 16px;
    /* margin-left: 20px; */

}

.imgdiv:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;


}

.rating {
    height: auto;
    width: 80%;
    border: 1px solid #F5F9FF;
    margin: auto;
    margin-top: 30px;
}

.gridbox {
    height: auto;
    width: 90%;
    border: 1px solid #F5F9FF;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;

}

.card {
    height: 90px;
    width: 250px;
    border: 1px solid #F5F9FF;
    margin: auto;
    background-color: white;
    border-radius: 12px;
    display: flex;
    font-size: 16px
}

.card:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
    font-weight: 900;

}

.imggridbox {
    height: 100%;
    width: 40%;
    border: 1px solid #F5F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentdiv {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text {
    /* class="text-3xl font-bold text-black-600 text-justify" */
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: black;
}

.highdiv {
    height: auto;
    width: 80%;
    border: 1px solid #F5F9FF;
    margin: auto;
    margin-top: 30px;
}


.hightext {
    color: #4285F4;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;

}

.hoverspan:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
    border-radius: 12px;
    background-color: white;
}

.specificationdiv {
    height: auto;
    width: 80%;
    border: 1px solid #F5F9FF;
    margin: auto;
    margin-top: 20px;
}

.specifications {
    height: auto;
    width: 100%;
    border: 1px solid #F5F9FF;
    display: flex;
}

.arrowimg {
    width: 10%;
    border: 1px solid #F5F9FF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

}

.spcificationcontent {
    width: 90%;
    height: 100%;
    border: 1px solid #F5F9FF;
    display: flex;
    text-align: justify;
    align-items: center;
    padding: 5px;

    font-size: 20px;
    margin-bottom: 3px;
}

.downlodbuttons {
    width: 80%;
    height: auto;
    border: 1px solid #F5F9FF;
    margin: auto;

    margin-bottom: 20px;


}

.btnimg {
    height: 100%;

    width: 20%;
    border: 1px solid #5D8DEB;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.btncontent {
    height: 100%;
    width: 80%;
    border: 1px solid #5D8DEB;
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    border-radius: 12px;

}

.bigbutton {
    width: 100%;
    height: 60px;
    border: 1px solid #F5F9FF;
    background-color: #5D8DEB;
    color: white;
    border-radius: 12px;
    display: flex;

}

.bigbutton:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
}

.descriptiondiv {
    height: auto;
    width: 98%;
    border: 1px solid blue;
    margin: auto;
    margin-top: 20px;
}

.descbutton {
    width: 100%;
    height: 50px;
    border: 1px solid #F5F9FF;
    background-color: #0061A7;
    color: white;

    display: flex;
}

.descbutton:hover {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 2px;
}

.contentdescription {
    width: 100%;
    height: auto;
    border: 1px solid #F5F9FF;
    background-color: white;
}

/* style={{width:"100%",height:"100px",border:"1px solid #2F6FED",backgroundColor:"#5D8DEB",color:"white",borderShadow:"0px 0px 14px -3px #2F6FED",borderRadius:"12px",display:"flex"}} */
@media (max-width: 1000px) and (min-width:501px) {
    .gridbox {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .card {
        width: 280px
    }

    .text {
        text-align: justify;
    }

    .imgconteiner {
        width: 96%
    }

    .bannerdiv {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .pre {
        display: none;
    }

    .btncontent {
        font-size: 16px;
    }



}

@media (max-width: 500px) {
    .gridbox {
        grid-gap: 7px;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .card {

        width: 320px
    }

    .text {
        text-align: justify;
    }

    .imgconteiner {
        width: 96%
    }

    .bannerdiv {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .pre {
        display: none;
    }

    .nxt {
        display: none;
    }

    .spcificationcontent {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .btncontent {
        font-size: 16px;
    }

    .bigbutton {
        height: 65px
    }

    .hightext {
        font-size: 24px
    }
}